body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12pt;
  background-color: #fafafa;
  color: #303030;
}


#bittercookie {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #5a5a5a;
  color: white;
  margin-bottom: -1px;
  border: 0;
  padding: 4pt;
  font-size: 10pt;
  white-space: nowrap;
  opacity: 0.9;
}

#swallowbreak {
  display: none;
}

#bittercookie a {
  background-color: #272727;
  color: white;
  text-decoration: none;
  padding: 2pt 4pt 2pt 4pt;
  margin-left: 3pt;
  margin-right: 3pt;
  cursor: default;
  border-radius: 3pt;
  -moz-border-radius: 3pt;
  -webkit-border-radius: 3pt;
  white-space: nowrap;
}

#bittercookie a:hover {
  color: #d9d9d9;
}


#footer {
  /* display: none; */
  width: 100%;
  position: relative;
  bottom: 0;
  clear: both;
  text-align: center;
  font-size: 0.8em;
  padding: 0.5em 0 1em 0;
  color: #aaa;
  top: 0;
}

#footer-inside {
  display: inline-block;
  border-top: 1px solid #aaa;
  padding: 0.5em 2em 0 2em;
}

#footer a,
#footer a:visited {
  text-decoration: none;
  color: #325E87;
}

#teaser {
  margin-top: 2em;
  margin-bottom: 3em;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#teaser h1 {
  font-family: Neuton, serif;
  margin: 0.3em 0 0.2em 0;
  font-size: 250%;
  color: #325E87;
}

.teaser3 {
  font-size: 120%;
  font-weight: bold;
}

.section {
  width: 38.6em;
  margin: 2em auto 4em auto;
  padding: 0.3em 0.7em 0.3em 0.7em;
}

.sectionHead {
  font-family: Neuton, serif;
  font-weight: bold;
  margin-bottom: 5pt;
  font-size: 150%;
  color: #202020;
}

.sectionLead {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 0.8em;
}

.sectionLead:last-child {
  margin-bottom: 2em;
}

#tlemail {
  display: block;
  float: left;
  background-color: #F0F4F7;
  border: 0;
  color: #5a5a5a;
  font-size: 120%;
  width: 22em;
  height: 1.3em;
  padding: 0.2em 0.2em 0.2em 0.4em;
  margin-right: 0.2em;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#submit {
  display: block;
  float: left;
  background-color: #ffe4cc;
  color: #404040;
  border: 0;
  height: 1.7em;
  padding: 0 0.4em 0.1em 0.4em;
  font-size: 120%;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#submit:hover {
  background-color: #ffc898;
}

.artBlock {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  clear: both;
  text-decoration: none;
  color: #404040;
  width: 100%;
  cursor: pointer;
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin-left: -0.4em;
  margin-bottom: 0.2em;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.artBlock:hover {
  background-color: #F0F4F7;
}

.artBlock:last-child {
  margin-bottom: 3em;
}

.artTitle {
  color: #325E87;
  font-weight: bold;
}

.artGist {
  font-style: italic;
  font-size: 90%;
}

#header {
  position: fixed;
  width: 100%;
  height: 3em;
  background-color: #325E87;
  color: #fafafa;
}

#headCenter {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
}

#headHome {
  display: block;
  position: relative;
  float: left;
  background-color: #396b9a;
  height: 1.5em;
  margin-left: -1000em;
  padding-left: 999.5em;
  font-family: Neuton, serif;
  font-size: 200%;
}

#headHome a,
#headHome a:visited
#headHome a:hover {
  display: block;
  position: relative;
  height: 1.4em;
  padding: 0.1em 0.5em 0 0.5em;
  float: right;
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#headHome a:hover {
  background-color: #638FB8;
}

#headArtTitle {
  display: block;
  position: relative;
  float: left;
  height: 2em;
  font-family: "Noto Sans", sans-serif;
  font-size: 150%;
  padding-left: 0.5em;
  padding-top: 0.35em;
}

#content {
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
}

#contCenter {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.article h1 {
  font-family: Neuton, serif;
  font-size: 220%;
  text-align: right;
  margin: 0.5em 0 0 0;
}

.article p.gist {
  text-align: right;
  font-size: 90%;
  font-style: italic;
  margin: 0 0 4em 0;
}

.article p {
  margin: 0.5em 0 0 0;
}

.article h2 {
  font-family: Neuton, serif;
  font-size: 170%;
  margin: 0.7em 0 0.2em 0;
}

.article a,
.article a:hover,
.article a:visited {
  color: #325E87;
  text-decoration: none;
  border-bottom: 1.1pt dotted #325E87;
}

/* --------------------------- MOBILE ---------------------------- */

body.mobile {
  font-family: "Noto Sans", sans-serif;
  font-size: 12pt;
}

body.mobile #bittercookie {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  padding-left: 8pt;
  padding-right: 8pt;
  padding-bottom: 16pt;
  width: 100%;
  line-height: 120%;
  font-size: 90%;
}

body.mobile #swallowbreak {
  display: inline;
}

body.mobile #footer {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 4em 0 1em 0;
  padding: 0;
  width: 100%;
}

body.mobile #footer-inside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0;
  padding: 0.5em 0 0 0;
  width: 100%;
  font-size: 90%;
}

body.mobile #footer a,
body.mobile #footer a:visited {
  text-decoration: none;
  color: #888;
}

body.mobile #teaser {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 3em 0 2em 0;
  padding: 0;
}

body.mobile .teaser2 {
  font-size: 90%;
}

body.mobile .section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0.8em 0 0.8em;
}

body.mobile #tlemail {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0.2em 0.2em 0.2em 0.4em;
  height: 1.7em;
  margin: 0 0 0.5em 0;
}

body.mobile #submit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.4em 0.1em 0.4em;
  margin: 0 0 0 0;
}

body.mobile .artBlock {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0 0 2em 0;
}

body.mobile .artBlock:hover {
  background-color: inherit;
}

body.mobile #header {
  height: 2.4em;
}

body.mobile #headCenter {
  width: 100%;
  margin: 0;
  height: 2.4em;
}

body.mobile #headHome {
  margin: 0;
  padding: 0 0 0 0;
  font-size: 160%;
}

body.mobile #headArtTitle {
  font-size: 120%;
}

body.mobile #contCenter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 1.5em 0 1em;
  font-size: 85%;
}