# Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

# Work folder: include only character and strokes data
# And font
_work/*
!_work/*.txt
!_work/*.u8
!_work/charstats.xlsx
!_work/fnt-coverage.xlsx
!_work/*.ttc
!_work/*.ttf
!_work/*.otf
!_work/*.bin

_work_chdict_prepare/*

# Bin folders: ignore altogether
_bin/*
_install/*
_deploy/*
_chdeploy/*
_localization/*
packages/*
ZDO.Site/_data/*
ZDO.CHSite/_data/*

# But, from data, include sample config files
!ZDO.Site/_data/Private.config

# WebStorm project files
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/dictionaries

