# Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

# Work folder: include only character and strokes data
_work/*
!_work/*.txt
!_work/charstats.xlsx

# Bin folder: ignore altogether
_bin/*
