#topNotice {
  display: none;
  float: left;
  width: 100%;
  clear: right;
  background-color: #c7d9b3;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  padding: 0;
  margin-bottom: 10pt;
  margin-top: 5pt;
  color: #303030;
}

.tnTitle {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  margin: 5pt 0 0 0;
}

.tnMessage {
  text-align: center;
  font-size: 90%;
  margin: 5pt 10pt 10pt 10pt;
}

#soaBox {
  position: absolute;
  width:  320px;
  height: 375px;
  background-color: #fafafa;
  border: 1px solid #607026;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, .7);
  cursor: default;
  display: none;
}

#soaBoxTail {
  display: block;
  position: absolute;
  left: -14px;
  top: 15px;
  width: 24px;
  height: 24px;
  border-color: #607026;
  border-width: 2px;
  border-style: none none solid solid;
  background-color: #fafafa;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.soaBoxLeft #soaBoxTail {
  left: 308px;
  border-style: solid solid none none;
}

#soaHead {
  position: relative;
  float: left;
  width: 100%;
  background-color: #607026;
  border-bottom: 1px solid #607026;
  color: #fafafa;
  font-size: 16pt;
}

#soaTitle {
  padding-left: 5pt;
  position: relative;
  float: left;
  height: 24pt;
}

#soaClose {
  position: relative;
  float: right;
  width: 24pt;
  height: 24pt;
  background-color: #b4ca65;
  text-align: center;
  color: #607026;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

#soaClose:hover {
  background-color: #c7d9b3;
}

#soaGraphics {
  position: relative;
  z-index: 1;
}

#strokeAnimSVG {
  margin-top: 10px;
  margin-left: 9px;
  width: 300px;
  height: 300px;
}

#soaError {
  position: absolute;
  top: 150px;
  width: 100%;
  display: none;
}

#soaErrorContent {
  background-color: #ffe4cc;
  max-width: 240px;
  min-height: 50px;
  border-radius: 5pt;
  padding: 8pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

#soaFooter {
  text-align: right;
  font-style: italic;
  font-size: 10pt;
  padding-right: 8pt;
}

#soaFooter a,
#soaFooter a:hover,
#soaFooter a:visited {
  color: #607026;
  text-decoration: none;
}


#results {
  margin-top: 1.5em;
  color: #303030;
  width: 100%;
}

#results h1 {
  margin: 0 0 10pt 0;
  font-family: Neuton, serif;
  font-size: 24pt;
  font-weight: bold;
}
