<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <trust level="Full" />
    <!--<customErrors mode="Off"/>-->
  </system.web>
  <appSettings configSource="_data\Private.config"/>
  <system.webServer>
    <security>
      <!-- Needed for pretty search URLs with + signs in them -->
      <!-- http://www.ifinity.com.au/Blog/EntryId/60/404-Error-in-IIS-7-when-using-a-Url-with-a-plus-sign-in-the-path -->
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <rewrite>
      <rules>
        <!--
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        -->
        <rule name="Protect data folder" stopProcessing="true">
          <match url="^_data.*$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="Protect bin folder" stopProcessing="true">
          <match url="^bin.*$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="No direct access to Content" stopProcessing="true">
          <match url="^Content" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="No direct access to .aspx pages" stopProcessing="true">
          <match url="\.aspx" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="Redirect to /hu" stopProcessing="true">
          <match url="^$"/>
          <action type="Rewrite" url="LangRedirect.aspx"/>
        </rule>
        <rule name="Redirect to /hu/something" stopProcessing="true">
          <match url="^(settings|edit|read|download)(.*)$"/>
          <action type="Rewrite" url="LangRedirect.aspx?uri={R:1}{R:2}"/>
        </rule>
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Default">
          <match url="^(en|hu)$" />
          <action type="Rewrite" url="Default.aspx?lang={R:1}" />
        </rule>
        <rule name="Default - empty search">
          <match url="^(en|hu)/search$" />
          <action type="Rewrite" url="Default.aspx?lang={R:1}" />
        </rule>
        <rule name="Default -> search">
          <match url="^(en|hu)/search/(.+)$" />
          <action type="Rewrite" url="Default.aspx?lang={R:1}&amp;query={R:2}" />
        </rule>
        <rule name="NewEntry">
          <match url="^(en|hu)/edit/new$"/>
          <action type="Rewrite" url="NewEntry.aspx?lang={R:1}"/>
        </rule>
        <rule name="History">
          <match url="^(en|hu)/edit/history$"/>
          <action type="Rewrite" url="History.aspx?lang={R:1}"/>
        </rule>
        <rule name="History - past page">
          <match url="^(en|hu)/edit/history/([0-9]+)$"/>
          <action type="Rewrite" url="History.aspx?lang={R:1}&amp;page={R:2}"/>
        </rule>
        <rule name="Diagnostics - temporarily under download">
          <match url="^(en|hu)/download$"/>
          <action type="Rewrite" url="Diagnostics.aspx?lang={R:1}"/>
        </rule>
        <rule name="Everything else is a dummy">
          <match url="^(en|hu)(.+)$" />
          <action type="Rewrite" url="Static.aspx?lang={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
