<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" />
    <compilation defaultLanguage="c#" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <!--<customErrors mode="Off"/>-->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect to /hu" stopProcessing="true">
          <match url="^$"/>
          <action type="Redirect" url="/hu" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Protect data folder">
          <match url="^_data.*$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="Protect bin folder">
          <match url="^bin.*$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="Default">
          <match url="^hu$" />
          <action type="Rewrite" url="hu-index.html" />
        </rule>
        <rule name="Cookies">
          <match url="^hu/cookies$" />
          <action type="Rewrite" url="hu-cookies.html" />
        </rule>
        <rule name="Articles">
          <match url="^hu/articles/(.+)$" />
          <action type="Rewrite" url="hu-art-{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
