<?xml version="1.0"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <!--<customErrors mode="Off"/>-->
  </system.web>
  <appSettings configSource="_data\Private.config"/>
  <system.webServer>
    <rewrite>
      <rules>
        <!--
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        -->
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="Protect data folder">
          <match url="^_data.*$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="Protect bin folder">
          <match url="^bin.*$" />
          <action type="Redirect" redirectType="Permanent" url="/" />
        </rule>
        <rule name="Default">
          <match url="^$" />
          <action type="Rewrite" url="Default.aspx" />
        </rule>
        <rule name="About">
          <match url="^about$" />
          <action type="Rewrite" url="Statics.aspx?page=about" />
        </rule>
        <rule name="Options">
          <match url="^options$" />
          <action type="Rewrite" url="Statics.aspx?page=options" />
        </rule>
        <rule name="Cookies">
          <match url="^cookies$" />
          <action type="Rewrite" url="Statics.aspx?page=cookies" />
        </rule>
        <rule name="Search-ZHO">
          <match url="^search/zho/(.+)$" />
          <action type="Rewrite" url="Default.aspx?lang=zho&amp;query={R:1}" />
        </rule>
        <rule name="Search-TRG">
          <match url="^search/trg/(.+)$" />
          <action type="Rewrite" url="Default.aspx?lang=trg&amp;query={R:1}" />
        </rule>
        <rule name="Ping">
          <match url="^ping$" />
          <action type="Rewrite" url="PingHandler.ashx" />
        </rule>
        <rule name="Api">
          <match url="^api$" />
          <action type="Rewrite" url="ApiHandler.ashx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
